<div class="list-group">
  <%availableSolutions.map( solution=> {%>
  <a
    class="list-group-item list-group-item-action p-2 <%= dayNb == solution.dayNb ? 'active' : '' %>"
    href="/days/<%= solution.dayNb %>"
  >
    <p class="h5">Day <%= solution.dayNb %> - <%= solution.name %></p>
  </a>
  <%})%>
</ul>
