<!DOCTYPE html>
<html>
  <head>
    <%- include('./head', {subject: 'Page not found'}) %>
  </head>

  <body>
    <div class="container mt-2">
      <h1>Page not found :(</h1>
      <a class="btn btn-link" href="/">⬅ Go back to home page</a>
    </div>
  </body>
</html>
